.a-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  background-color: #3a90ed;
  color: #ffffff;
  transition: 0.3s;
}

.a-button:hover {
  color: #3a90ed;
  background-color: #ffffff;
}
