/* Mobile first */
header {
  background-color: #fff;
  min-height: 10vh;
  -webkit-box-shadow: 0px 2px 12px -4px #000000;
  box-shadow: 0px 2px 8px -4px #000000;
}

header .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 1em;
}

header .container .logo {
  width: 70%;
  height: 100%;
}

header .container .logo img {
  width: auto;
  height: 120px;
  transition: 0.3s;
}

header .container .logo img:hover {
  cursor: pointer;
}

header .container .logo:hover {
  cursor: pointer;
}

header .container .toggler {
  padding: 3em 0;
  width: 30%;
  height: 100%;
}

header .container .toggler span {
  display: block;
  height: 4px;
  width: 33px;
  margin-left: auto;
  background: #6dc4e9;
}

header .container .toggler:hover {
  cursor: pointer;
}

header .container .toggler span:nth-child(2) {
  margin-top: 5px;
  margin-bottom: 5px;
}

header .container .navbar {
  width: 100%;
}

header .container .navbar .navbar_menu {
  width: 100%;
  padding-top: 1em;
  list-style: none;
  text-align: right;

  display: none;
}

header .container .navbar .navbar_menu.active {
  display: block;
}

header .container .navbar .navbar_menu li {
  padding: 5px;
}

header .container .navbar .navbar_menu li a {
  text-decoration: none;
  color: var(--seconadry-color);
  font-size: 1.2em;
  transition: 0.1s;
}

header .container .navbar .navbar_menu li a:hover {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.3em;
}

.search-btn {
  color: var(--primary-color);
}

/* Tablet and Desktop */
@media screen and (min-width: 768px) {
  header .container {
    padding-top: 0;
    padding-bottom: 0;
  }

  header .container .logo {
    width: 30%;
  }

  header .container .logo img {
    width: auto;
    height: 120px;
  }

  header .container .toggler {
    display: none;
  }

  header .container .navbar {
    width: 70%;
  }

  header .container .navbar .navbar_menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 0px;
  }

  header .container .navbar .navbar_menu li {
    padding: 5px 25px;
  }

  .search-btn {
    margin-left: 25px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
  }
}

@media screen and (min-width: 768px) {
  header .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
