.infoBox {
  width: 80%;
  text-align: center;
}

.infoBox-image {
  width: 40%;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  .infoBox {
    width: 25%;
    text-align: center;
    margin-right: 25px;
  }

  .infoBox-image {
    width: 60%;
    padding: 30px;
  }
}
