.carrer {
  min-height: 80vh;
}

.carrer .container {
  padding: 4em 1em;
}

.carrer .container h1 {
  font-size: 2.5em;
  text-align: center;
}

.carrer .container .carrer_form {
  display: flex;
  flex-direction: column;

  padding-top: 2em;
}

.carrer .container .carrer_form .form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrer .container .carrer_form .form_control label {
  padding: 1em 0 0.5em 0;
  font-size: 1.1em;
}

.carrer .container .carrer_form .form_control .form_input,
.carrer .container .carrer_form .form_control .form_textarea {
  width: 80%;

  padding: 0.5em;
  outline: none;
  border: 0px;
  border-radius: 0;
  border-bottom: 1px solid #6dc4e9;
}

.carrer_form a {
  margin: 2em auto;
  padding: 10px;
  width: 30%;
  border: none;
  background-color: #6dc4e9;
  border-radius: 5px;
  text-align: center;
}

.carrer_form a:hover {
  cursor: pointer;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .carrer .container {
    padding-top: 7em;
    padding-bottom: 3em;
  }

  .carrer .container h1 {
    font-size: 3em;
  }

  .carrer .container .carrer_form {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .carrer .container .carrer_form .form_control .form_input,
  .carrer .container .carrer_form .form_control .form_textarea {
    width: 50%;
    border-radius: 0;
  }

  .carrer_form a {
    width: 15%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .carrer {
    min-height: 80vh;
  }

  .carrer .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
