.faq {
  min-height: 80vh;
}

.faq .container {
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- */

.faq .container h1 {
  text-align: center;
  font-size: 2em;
}

.faq .container .questions {
  width: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq .container .questions .question {
  margin: 3em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.faq .container .questions .question .question_item {
  padding: 1em 1em;
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: var(--secondary-color);
  font-size: 1em;
  border-radius: 10px;
  font-weight: 600;
}

.faq .container .questions .question .question_item div {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.faq .container .questions .question .question_item div span {
  order: 2;
}

.faq .container .questions .question .question_item div:focus {
  outline: none;
}

.faq .container .questions .question .question_item div:hover {
  cursor: pointer;
  opacity: 0.6;
}

.faq .container .questions .question .question_item p {
  padding: 0.5em 0;
  text-align: left;
  font-weight: 300;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .faq .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding-top: 7em;
    padding-bottom: 7em;
  }
  .faq .container .headline {
    width: 70%;
    order: 0;
  }

  .faq .container h1 {
    font-size: 2.5em;
  }

  .faq .container .questions .question {
    width: 80%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .faq {
    min-height: calc(100vh - 102px - 58px);
  }

  .faq .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
