.faq {
  min-height: 80vh;
}

.faq .container {
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- */

.faq .container h1 {
  text-align: center;
  font-size: 2em;
}

.faq .container .questions {
  width: 100%;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq .container .questions .question {
  margin: 0.5em 0;
  width: 100%;
}

.faq .container .questions .question .question-btn {
  padding: 0.5em 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: #fff;
  border-bottom: 1.5px solid #6dc4e9;
  font-size: 1em;
}

.faq .container .questions .question .question-btn span {
  font-size: 1.2em;
  color: #6dc4e9;
}

.faq .container .questions .question .question-btn:focus {
  outline: none;
}

.faq .container .questions .question .question-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.hide {
  display: none;
}

.faq .container .questions .question .question-text {
  padding: 0.5em 0.5em;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .faq .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    padding-top: 7em;
    padding-bottom: 7em;
  }
  .faq .container .headline {
    width: 70%;
    order: 0;
  }

  .faq .container h1 {
    font-size: 2.5em;
  }

  .faq .container .questions .question {
    width: 80%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .faq {
    min-height: calc(100vh - 102px - 58px);
  }

  .faq .container {
    max-width: 1280px;
    margin: 0 auto;
  }
}
