@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login {
  min-height: 80vh;
}

.login .container {
  padding: 4em 1em;
}

.login .container h1 {
  font-size: 2.5em;
  text-align: center;
}

.login .container .login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2em;
}

.login .container .login_form .login_form_wrapper {
  width: 80%;
  padding: 2em 0 3em 0;
  border-radius: 20px;
  background-color: #d5eaff;
}

.login .container .login_form .login_form_wrapper .form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.login .container .login_form .login_form_wrapper .form_control label {
  padding: 1em 0 0.5em 0;
  font-size: 1.1em;
}

.login .container .login_form .login_form_wrapper .form_control .form_input {
  width: 80%;

  padding: 0.5em;
  outline: none;
  border: 0px;
  border-radius: 0;
}

.login_form button {
  margin: 2em auto;
  padding: 10px;
  width: 30%;
  border: none;
  background-color: #6dc4e9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  transition: all ease 0.3s;
}

.login_form button:hover {
  cursor: pointer;
  color: #3a90ed;
  background-color: #ffffff;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .login .container {
    padding-top: 7em;
    padding-bottom: 3em;
  }

  .login .container h1 {
    font-size: 2.5em;
  }

  .login .container .login_form {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .login .container .login_form .login_form_wrapper {
    width: 50%;
  }

  .login .container .login_form .login_form_wrapper .form_control .form_input {
    width: 80%;
    border-radius: 0;
  }

  .login_form button {
    width: 15%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .login {
    min-height: 80vh;
  }

  .login .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .login .container .login_form .login_form_wrapper {
    width: 40%;
  }

  .login .container .login_form .login_form_wrapper .form_control .form_input {
    width: 80%;
    border-radius: 0;
  }
}
