@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  background-color: var(--secondary-color);
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.form-wrapper {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--contrast-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  height: 50%;
  width: 50%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 100;
}

.form.active {
  background-color: var(--background-color);
  border: 1px solid var(--outline-color);
}

.h3 {
  font-size: 20px;
  font-weight: 400;
  padding: 0.5rem 0;
}

.form-control {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.input-text {
  width: 100%;
  height: 2rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.input-text:focus {
  outline: 0;
  border: 2px solid var(--outline-color);
}

.submit {
  margin-top: 1em;
  border: 0;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all 500ms ease-in;
}

.submit:hover {
  cursor: pointer;
}

.error {
  height: 2rem;
  width: 80%;
  background-color: var(--error-color);
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #fff;
  font-weight: 800;
  box-shadow: rgba(229, 115, 115, 1) 0px 5px 15px;
}
