.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #fafafa;
  padding: 0.5rem 0.7rem;
}

.img {
  width: 80px;
  height: 80px;
}

.header-btn {
  background-color: #000;
  border: 0;
  padding: 0.5rem 0.7rem;
  color: #fff;
}

.ul {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main {
  min-height: 75vh;
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.fontawesome-plus {
  color: #fff;
}
.fontawesome-plus:hover {
  cursor: pointer;
}

.fontawesome-wrapper {
  width: 50px;
  height: 50px;
  background-color: var(--contrast-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.add-post {
  display: flex;
  justify-content: center;
}

.output-list {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.output-item {
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  width: 100%;
}

.output-pair {
  display: flex;
  width: 100%;
  height: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.h4 {
  width: 30%;
  text-align: start;
}

.h5 {
  text-align: start;
  width: 70%;
}

.button-div {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  padding: 0.5rem 2rem;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.98);
}

.delete {
  background-color: var(--error-color);
  margin-right: 1rem;
}

.update {
  background-color: var(--background-color);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input-pagination {
  width: 8rem;
  height: 4.5rem;
  display: flex;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.input-txt {
  height: 67%;
  width: 40%;
  font-size: 24px;
  margin-right: 10px;
}

.pagination-button {
  width: 3rem;
  height: 3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  border: 0;
}

.pageCount {
  font-size: 20px;
  font-weight: 400;
}

.modal-container-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--outline-color);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.filter-form-wrapper {
  padding: 0.5rem 0.7rem;
  width: 500px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.form-control {
  padding: 0.5rem 0.7rem;
  margin: 1rem;
  background-color: var(--background-color);
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-label {
  width: 30%;
  margin-bottom: 1rem;
}

.form-input {
  width: 70%;
}

.filter-container {
  display: flex;
  justify-content: center;
}

.filter-submit {
  padding: 0.5rem 2rem;
  border: 0;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.filter-submit:hover {
  cursor: pointer;
}
