/* Header */
.header {
  background-color: #fff;
  min-height: 8vh;
  -webkit-box-shadow: 0px 2px 12px -4px #000000;
  box-shadow: 0px 2px 8px -4px #000000;
}

.header .container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 1em;
}

header .container .logo {
  width: 40%;
  height: 100%;
}

header .container .logo img {
  width: auto;
  height: 120px;
  transition: 0.3s;
}

header .container .navbar {
  width: 60%;
}

header .container .navbar .navbar_menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 0px;
}

header .container .navbar .navbar_menu li {
  padding: 5px 25px;
}

header .container .navbar .navbar_menu li .header_btn {
  margin: 2em auto;
  width: 100px;
  height: 40px;
  border: none;
  background-color: #6dc4e9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  transition: all ease 0.3s;
}

header .container .navbar .navbar_menu li .header_btn:hover {
  cursor: pointer;
  color: #3a90ed;
  background-color: #ffffff;
}

/* Main */
.admin {
  min-height: 80vh;
}

.admin .container {
  padding: 4em 1em;
}

/* Filtras */
.admin .container .admin_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 2em;
}

.admin .container .admin_form .admin_form_wrapper {
  width: 80%;
  padding: 2em 0 3em 0;
  border-radius: 20px;
  background-color: #d5eaff;
}

.admin .container .admin_form .admin_form_wrapper .form_control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.admin .container .admin_form .admin_form_wrapper .form_control .form_label {
  padding: 0.5em 0 0.5em 0;
  font-size: 1.1em;
}

.admin .container .admin_form .admin_form_wrapper .form_control .form_input {
  width: 80%;

  padding: 0.5em;
  outline: none;
  border: 0px;
}

.admin .container .admin_form .filter_container .filter_submit {
  margin: 2em auto;
  padding: 10px;
  width: 100px;
  border: none;
  background-color: #6dc4e9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  transition: all ease 0.3s;
}

.admin .container .admin_form .filter_container .filter_submit:hover {
  cursor: pointer;
  color: #3a90ed;
  background-color: #ffffff;
}

/* Pages */
.admin .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin .container .wrapper .add_post {
  display: flex;
  justify-content: center;
}

.admin .container .wrapper .add_post .fontawesome_wrapper {
  width: 40px;
  height: 40px;
  background-color: #6dc4e9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.fontawesome-plus {
  color: #fff;
  font-size: 1.2em;
}
.fontawesome-plus:hover {
  cursor: pointer;
}

/* Output */
.admin .container .wrapper .output_list {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-bottom: 2rem;
}

.admin .container .wrapper .output_list .output_item {
  padding: 2em;
  margin: 1em 0;
  font-size: 1em;
  border-radius: 20px;
  background-color: #d5eaff;
}

.admin .container .wrapper .output_list .output_item .output_pair {
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.admin .container .wrapper .output_list .output_item .output_pair .h4 {
  font-size: 1.1em;
  font-weight: 800;
}

.admin .container .wrapper .output_list .output_item .output_pair .h5 {
  font-size: 1em;
  font-weight: 400;
}

.admin .container .wrapper .output_list .output_item .button_div {
  padding: 1.5em 0 0 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.admin .container .wrapper .output_list .output_item .button_div .delete {
  padding: 10px;
  width: 100px;
  border: none;
  background-color: var(--error-color);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  transition: all ease 0.3s;
}

.admin .container .wrapper .output_list .output_item .button_div .delete:hover {
  cursor: pointer;
  color: #3a90ed;
  background-color: transparent;
}

.admin .container .wrapper .output_list .output_item .button_div .update {
  padding: 10px;
  width: 100px;
  border: none;
  background-color: #6dc4e9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  transition: all ease 0.3s;
}

.admin .container .wrapper .output_list .output_item .button_div .update:hover {
  cursor: pointer;
  color: #3a90ed;
  background-color: transparent;
}

/* Pagination */
.admin .container .wrapper .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin .container .wrapper .pagination .pagination_button {
  padding: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #6dc4e9;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 0.6em;
  font-weight: 600;
  transition: all ease 0.3s;
}

.admin .container .wrapper .pagination .pagination_button:hover {
  cursor: pointer;
  color: #3a90ed;
  background-color: transparent;
}

.admin .container .wrapper .pagination .input_pagination {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin .container .wrapper .pagination .input_pagination .input_txt {
  padding: 0.5em;
  width: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid #6dc4e9;
}

.admin .container .wrapper .pagination .input_pagination .pageCount {
  font-size: 1em;
  font-weight: 600;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .admin .container {
    padding-top: 7em;
    padding-bottom: 3em;
  }

  .admin .container .admin_form .admin_form_wrapper {
    width: 60%;
  }

  .admin .container .wrapper .output_list {
    width: 60%;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .admin {
    min-height: 80vh;
  }

  .admin .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .admin .container .admin_form .admin_form_wrapper {
    width: 50%;
  }

  .admin .container .wrapper .output_list {
    width: 50%;
  }
}
.modal-container-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-color);
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 20em;
}

.post-button-form {
  width: 100%;
  height: 80vh;
  margin-bottom: 10em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post-button-form .form-input {
  height: 2em;
}

.post-submit {
  padding: 1rem 1.7rem;
  background-color: var(--secondary-color);
  border: 0;
  cursor: pointer;
}

.post-quit {
  position: absolute;
  top: 5%;
  right: 25%;
  cursor: pointer;
}
